body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

/* Social icons */
.social-text{display:inline-block; padding:5px; height:30px; background-color:#222; color:#FFF; cursor:default;}
.social-facebook{display:inline-block; width:30px; height:30px; margin:-10px 2px; background:#222 url('/img/social_facebook.png') no-repeat 5px 5px;}
.social-googleplus{display:inline-block; width:30px; height:30px; margin:-10px 0; background:#222 url('/img/social_googleplus.png') no-repeat 4px 3px;}
.social-googleplus span, .social-facebook span{display:none;}
.social-facebook:hover{background-color:#3b5998;}
.social-googleplus:hover{background-color:#d94a38;}
.social-text:hover{cursor:default; text-decoration:none; color:#fff;}

.info-table td:first-child{padding-right:30px;}

.well a:hover{text-decoration:none;}

#tos h4{margin-bottom:0;}